/*
Header
*/
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav svg {
  vertical-align: middle;
}
header nav a,
header nav a:visited {
  color: var(--main-font-color);
  font-weight: bold;
  text-decoration: none;
}
header nav a:hover,
header nav svg:hover {
  color: var(--active-color);
}
header nav .current-user svg:last-of-type {
  margin-left: 5px;
}
header nav .current-user .inbox {
  margin-right: 20px;
}
header nav .inbox {
  position: relative;
  display: inline-block;
}
header nav .inbox .has-emails {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  background-color: var(--active-color);
  border-radius: 50%;
  padding: 5px;
  font-size: 0.5em;
  line-height: 0.6em;
}
header nav .settings {
  position: relative;
  display: inline-block;
}
header nav .settings .dropdown{
  top: 15px;
  right: 0px;
}