:root {
  --main-bg-color: #f4f7f9;
  --main-font-color: #79909b;
  --hover-font-color: #263238;
  --active-color: #1eaaf1;
  --border-color: #e6ecef;
  --sidebar-bg-color: white;
  --modal-bg-color:white;
}

@import "layout.scss";
@import "sidebar.scss";
@import "header.scss";
@import "modal.scss";
@import "main.scss";