/*
Layout
*/
body {
  color: #79909b;
  background-color: #f4f7f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "side top "
    "side main";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 200px 1fr;
}
.wrapper header {
  grid-area: top;
  display: flex;
  align-items: center;
  padding: 20px;
}
.wrapper aside {
  grid-area: side;
  box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
.wrapper main {
  grid-area: main;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper header,
.wrapper aside {
  background-color: white;
}
/*
Sidebar
*/
aside nav ul {
  list-style-type: none;
  padding: 0;
}
aside nav ul > li {
  padding: 15px 15px 15px 30px;
}
aside nav ul > li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}
aside nav .toggle-menu {
  display: block;
  padding: 30px;
}
aside nav ul > li a,
aside nav ul > li a:visited,
aside nav .toggle-menu {
  color: #79909b;
}
aside nav ul > li a:hover,
aside nav .toggle-menu:hover {
  color: #263238;
}
aside nav ul > li.is-active a {
  color: #263238;
}
aside nav ul > li a:hover svg,
aside nav ul > li.is-active a svg {
  color: #1eaaf1;
}
aside nav ul > li.is-active {
  border-left: 5px solid #1eaaf1;
  padding-left: 25px;
  background: rgb(30, 170, 241);
  background: linear-gradient(
    90deg,
    rgba(30, 170, 241, 0.2) 0%,
    rgb(255, 255, 255) 7%
  );
}
aside nav ul > li a svg,
aside nav .toggle-menu svg {
  margin-right: 15px;
  vertical-align: middle;
  font-size: 1rem;
}
/*
Header
*/
header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav svg {
  vertical-align: middle;
}
header nav a,
header nav a:visited {
  color: #79909b;
  font-weight: bold;
  text-decoration: none;
}
header nav a:hover,
header nav svg:hover {
  color: #1eaaf1;
}
header nav .current-user svg:last-of-type {
  margin-left: 5px;
}
header nav .current-user .inbox {
  margin-right: 20px;
}
header nav .inbox {
  position: relative;
  display: inline-block;
}
header nav .inbox .has-emails {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  background-color: #1eaaf1;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.5em;
  line-height: 0.6em;
}
header nav .settings {
  position: relative;
  display: inline-block;
}
header nav .settings .has-options {
  display: none;
}
header nav .settings .has-options.is-enabled {
  display: block;
  position: absolute;
  list-style: none;
  padding: 10px;
  background: white;
  border: 1px solid #e9edef;
  border-radius: 5px;
  top: 10px;
  right: 0px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  -webkit-box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  -moz-box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}
header nav .settings .has-options li {
  padding: 10px 15px;
}
header nav .settings .has-options li a {
  font-weight: normal;
}
/*
Content
*/
main .content table {
  border-spacing: 0 1px;
}
main .content table thead th {
  text-align: left;
  padding: 15px 30px;
  background-color: #eaeef0;
}
main .content table thead th:first-of-type {
  border-top-left-radius: 5px;
}
main .content table thead th:last-of-type {
  border-top-right-radius: 5px;
}
main .content table tbody tr {
  background-color: #fefefe;
}
main .content table tbody tr:hover {
  position: relative;
  box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
main .content table tbody tr td {
  text-align: left;
  padding: 15px 20px;
}
main .content table tbody tr td:first-of-type {
  display: flex;
  align-items: center;
}
main .content table tbody tr .lead {
  display: inline-block;
  color: #263238;
}
main .content table tbody tr .lead small {
  color: #79909b;
}
main .content table tbody tr .lead-avatar,
main .content table tbody tr .lead-avatar-empty {
  margin-right: 20px;
  border-radius: 50%;
  display: inline-block;
}
main .content table tbody tr .lead-avatar-empty {
  padding: 15px;
  background-color: aqua;
}
main .content table tbody tr .email {
  color: #1eaaf1;
}
main .content .view-header {
  display: flex;
  margin-bottom: 20px;
}
main .content .view-header .view-title {
  flex-shrink: 0;
  margin-right: 20px;
}
main .content .view-header .view-title h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
main .content .view-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main .content .view-controls button,
.modal-opened .contact-form button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #1eaaf1;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
main .content .view-controls button:hover,
.modal-opened .contact-form button:hover {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  -webkit-box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
  -moz-box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}
main .content .view-controls button svg {
  font-size: 0.7rem;
}
main .content .view-actions {
  display: flex;
  align-items: center;
}
main .content .view-actions div {
  margin-right: 15px;
}
main .content .view-actions div svg {
  vertical-align: middle;
}
/*
Modal
*/
.modal-opened {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  pointer-events: auto;
  transition: all 0.3s;
}
.modal-opened > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
}
.modal-opened header {
  font-weight: bold;
}
.modal-opened h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}
.modal-opened div:not(:last-of-type) {
  margin-bottom: 15px;
}
.modal-opened h1 {
  margin-bottom: 30px;
}
.modal-opened .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-opened .contact-form label {
  margin-bottom: 10px;
  width: 100%;
}
.modal-opened .contact-form input,
.modal-opened .contact-form select {
  display: block;
  margin-top: 5px;
  border: 2px solid #e6ecef;
  border-radius: 25px;
  
}
.modal-opened .contact-form input {
  padding: 10px;
  width: 94%;
}
.modal-opened .contact-form select {
  padding: 7px;
  width: 100%;
}
.modal-opened .contact-form button {
  margin-top: 20px;
  width:100%
}
